@page "/data-binding"

<form method="post" @onsubmit="SubmitHandler">
    <div class="form-group mb-3">
        <label>On Change</label>
        <input class="form-control mb-1" type="text" @onchange="OnChangeHandler"/>
        <input class="form-control" type="text" value="@OnChangeValue" />
    </div>

    <div class="form-group mb-3">
        <label>Two-way</label>
        <input class="form-control mb-1" type="text" @bind="TwoWayValue"/>
        <input class="form-control" type="text" @bind="TwoWayValue"/>
    </div>
    
    <div class="form-group mb-3">
        <label>On Input</label>
        <input class="form-control mb-1" type="text" @oninput="OnInputHandler"/>
        <input class="form-control" type="text" value="@OnInputValue" />
    </div>

    <div class="form-group mb-3">
        <label>Two-way on input</label>
        <InputTextBindValueOnInput class="form-control mb-1" @bind-Value="@OnInputTwoWayValue"/>
        <InputTextBindValueOnInput class="form-control" @bind-Value="@OnInputTwoWayValue"/>
    </div>
    
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

@code {
    private string TwoWayValue { get; set; } = string.Empty;
    private string OnChangeValue { get; set; } = string.Empty;
    private string OnInputValue { get; set; } = string.Empty;
    private string OnInputTwoWayValue { get; set; } = string.Empty;

    private void OnChangeHandler(ChangeEventArgs arg)
    {
        var value = arg.Value?.ToString();
        if (value != null) OnChangeValue = value;
    }

    private void OnInputHandler(ChangeEventArgs arg)
    {
        var value = arg.Value?.ToString();
        if (value != null) OnInputValue = value;
    }
    
    private void SubmitHandler(EventArgs arg)
    {
        // Do the rest of the processing here
    }
}